doctype html
html
  head
    style.
      
        a{
          text-decoration:none !important;
        }
      
  title SignInPage
  body
    h1 Fill your details
      a(href="/sign-in") 
        button Sign-in 
      a(href="/sign-up") 
        button Sign-up
